@{
    Layout = "_Layout";
    ViewBag.Title = "Hakkimizda";
}

<!-- ======= About Us Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3>Hakkımızda</h3>
            @*<p> <b> Genç ve dinamik kadromuz ile sorunlarınıza çözüm üretmek bizim işimiz! Eşsiz çözümlerimiz ile işletmenizin yönetimsel tüm sorunlarını çözmeye iş yükünüzü azaltarak sistemli ve daha planlı bir halde ilerlemenize olanak sağlıyoruz. Dinamik ve deneyimli kadromuz ile çözümlerimizi her zaman daha iyiye taşımayı hedefliyoruz. Muhasabenizinden stoklarınıza, insan kaynaklarınızdan satış departmanlarınıza kadar her alanda daima çözüm bulmaya ve iyileştirmeye hızla devam ediyoruz.</b></p>*@
        </header>

        <div class="row about-cols">

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="about-col">
                    <div class="img">
                        <img src="~/assets/img/about-mission.jpg" alt="Misyon" class="img-fluid">
                        <div class="icon"><i class="ion-android-bulb"></i></div>
                    </div>
                    <h2 class="title"><a asp-controller="GeneralPage" asp-action="About" title="misyonumuz">Misyonumuz</a></h2>
                    <p>
                        Sevgiyle ve bilgiyle iyilik yapmak.
                    </p>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="about-col">
                    <div class="img">
                        <img src="~/assets/img/about-plan.jpg" alt="Vizyon" class="img-fluid">
                        <div class="icon"><i class="ion-ios-briefcase"></i></div>
                    </div>
                    <h2 class="title"><a asp-controller="GeneralPage" asp-action="About" title="vizyonumuz">Vizyonumuz</a></h2>
                    <p>
                        İnsanların yaşam mücadelesinde karşılaştıkları olumsuzluklar giderilerek şahıslara ve toplumlara kendi ayakları üzerinde durabilmeleri için destek olmak. Yardıma ihtiyacı olan kişileri ve aileleri güçlendirmek, kalıcı projelerle kalıcı çözümler üretmek.
                    </p>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="about-col">
                    <div class="img">
                        <img src="~/assets/img/about-vision.jpg" alt="Ilke-ve-Degerler" class="img-fluid">
                        <div class="icon"><i class="ion-ios-bookmarks"></i></div>
                    </div>
                    <h2 class="title"><a asp-controller="GeneralPage" asp-action="About" title="ilkevedegerlerimiz">İlke ve Değerlerimiz</a></h2>
                    <p>
                        Herkesin dini görüşüne saygılıyız. Bu sebeple bunlardan kesinlikle bahsetmiyoruz.
                        Herkesin Politik görüşüne saygılıyız. Fakat biz Apolitik bir derneğiz.
                        Ayrılıkçı boyutta olan Sporsal faaliyetlerden olabildiğince uzak duruyoruz.
                        Yaptığımız her projeyi gülümseyerek yapmaya çalışıyoruz.
                        Yunus Emre'nin " Paylaştığın senindir,biriktirdiğin değil." sözünü örnek alıyoruz.
                        Öğrenme arzusuyla sürekli kendimizi geliştirip daha iyisi için çaba gösteriyoruz.

                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- ======= Team Section ======= -->

<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h3>TAKIMIMIZ</h3>
            <p>Yazılım ekibimiz kendini geliştirmeye devam etmekte.</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/img/aynur.jpg" class="img-fluid" alt="isimler">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Aynur Gün</h4>
                            <span>Software Engineer</span>
                            <div class="social">
                                <a href="https://github.com/AynurGunn"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img src="~/img/fat.jpeg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Fatma Eraslan</h4>
                            <span>Software Engineer</span>
                            <div class="social">
                                                          
                                <a href="https://github.com/Fatma-Eraslan"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/fatoseraslan/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img src="~/img/beyz.jpg" height="50" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Beyza Taş</h4>
                            <span>Software Engineer</span>
                            <div class="social">

                                <a href="https://github.com/Beyzaatass"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/beyza-ta%C5%9F-089028160/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/ali.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Alihan Akçam</h4>
                            <span>Software Engineer</span>
                            <div class="social">

                                <a href="https://github.com/Alihanakcm"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/alihanakcam/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Team Section -->
